@import "tailwindcss";

@theme {
    --breakpoint-sm: 301px;
    --breakpoint-md: 701px;
    --breakpoint-lg: 1101px;

    --color-background: #d0fae5;
    --color-background-light: #ecfdf5;
    --color-background-dark: #a4f4cf;
}

@layer components {
    .dashboard-header-link {
        @apply hover:bg-pink-200;
        @apply hover:text-purple-900;
        @apply focus:ring-neutral-50;
        @apply active:bg-pink-600;
        @apply active:text-fuchsia-100;
        @apply focus:border;
        @apply m-1;
        @apply p-1;
        @apply text-[clamp(0.5rem,1vw,0.75rem)]
    }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  }
}

@layer base {
  html, body {
    @apply overflow-x-auto;
  }
}

/* Small screens (phones) */
@media (max-width: 300px) {
  
}

/* Medium screens (tablets) */
@media (min-width: 301px) and (max-width: 700px) {
    .lessons-reviews-recent-mistakes {
        grid-column: 1 / 3;
        display: grid;
        grid-template-rows: 2fr 1fr;
        
    }

    .review-forecast {
        grid-column: 3 / 4;
    }

    .lessons-reviews {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: subgrid;
    }

    .recent-mistakes {
        grid-row: 2 / 3;
    }

    .lessons {
        grid-row: 1;
    }

    .reviews {
        grid-row: 2;
    }
}

/* Large screens (desktops) */
@media (min-width: 701px) and (max-width: 1100px) {
    .lessons-reviews-recent-mistakes {
        grid-column: 1 / 3;
    }

    .lessons-reviews {
        display: grid;
        grid-template-columns: subgrid;
    }

    .lessons {
        grid-column: 1;
    }

    .reviews {
        grid-column: 2;
    }

    .review-forecast {
        grid-column: 1 / 3;
    }
}

/* Ultra large screens */
@media (min-width: 1101px) {
    .lessons-reviews-recent-mistakes {
        grid-column: 1 / 3;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
    }

    .lessons-reviews {
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .recent-mistakes { 
        grid-row: 2 / 3;
    }

    .review-forecast {
        grid-column: 3 / 4;
    }

    .lessons {
        grid-row: 1 / 2;
    }

    .reviews {
        grid-row: 2 / 3;
    }
}