@import "tailwindcss";

@theme {
    --color-background: #d0fae5;
    --color-background-light: #ecfdf5;
    --color-background-dark: #a4f4cf;
}

@layer components {
    .dashboard-header-link {
        @apply hover:bg-pink-200;
        @apply hover:text-purple-900;
        @apply focus:ring-neutral-50;
        @apply active:bg-pink-600;
        @apply active:text-fuchsia-100;
        @apply focus:border;
        @apply m-1;
        @apply p-1;
        @apply text-[clamp(0.5rem,1vw,0.75rem)]
    }

    .site-content-container {
        @apply w-full h-full grid box-border overflow-y-auto;
    }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  }
}

@layer base {
  html, body {
    @apply overflow-x-auto;
  }
}

/* Small screens (phones) */
@media (max-width: 300px) {
  
}

/* Medium screens (tablets) */
@media (min-width: 301px) and (max-width: 700px) {
    .site-content-container {
        @apply grid-cols-3;
    }

    .lessons-reviews-recent-mistakes {
        @apply col-start-1 col-end-3 grid [grid-template-rows:2fr_1fr];
    }

    .review-forecast {
        @apply col-start-3 col-end-4;
    }

    .lessons-reviews {
        @apply row-start-1 row-end-2 grid;
        grid-template-columns: subgrid;
    }

    .recent-mistakes {
        @apply row-start-2 row-end-3;
    }

    .lessons {
        @apply row-start-1 row-end-2;
    }

    .reviews {
        @apply row-start-2 row-end-3;
    }
}

/* Large screens (desktops) */
@media (min-width: 701px) and (max-width: 1100px) {
    .site-content-container {
        @apply grid-cols-2;
    }

    .lessons-reviews-recent-mistakes {
        @apply col-start-1 col-end-3;
    }

    .lessons-reviews {
        @apply grid;
        grid-template-columns: subgrid;
    }

    .lessons {
        @apply col-start-1 col-end-2;
    }

    .reviews {
        @apply col-start-2 col-end-3;
    }

    .review-forecast {
        @apply col-start-1 col-end-3;
    }
}

/* Ultra large screens */
@media (min-width: 1101px) {
    .site-content-container {
        @apply grid-cols-3 h-full;
        @apply grid-rows-1;
    }

    .lessons-reviews-recent-mistakes {
        @apply col-start-1 col-end-3 grid grid-rows-2 h-full;
    }

    .lessons-reviews {
        @apply row-start-1 row-end-2 grid grid-rows-2;
    }

    .recent-mistakes { 
        @apply row-start-2 row-end-3;
    }

    .review-forecast {
        @apply col-start-3 col-end-4;
    }

    .lessons {
        @apply row-start-1 row-end-2;
    }

    .reviews {
        @apply row-start-2 row-end-3;
    }
}